.primary-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 9rem;
  text-align: center;
  margin: 5rem 0;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}
